.container {
    display: flex;
    align-items: center;
    width: 200px;
}
.wrapper{
    background: linear-gradient(rgba(23, 70, 224, 0.25), rgba(210, 0, 0, 0.25));
    padding: 10px;
    border-radius: 15px;
}
