.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.error {
    border: red 1px solid;
}

.error-message {
    color: red;
}

.active-filter {
    background-color: lightgreen;
}

.style-tasks {
    display: flex;
    justify-content: space-between;
}
.style-button {
    display: flex;
    justify-content: center;
}
ul{
    padding-left: 20px;
}
.is-done {
    opacity: 0.5;
}