.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.error {
    border: red 1px solid;
}

.error-message {
    color: red;
}

.active-filter {
    background-color: lightgreen;
}

.style-tasks {
    display: flex;
    justify-content: space-between;
}
.style-button {
    display: flex;
    justify-content: center;
}
ul{
    padding-left: 20px;
}
.is-done {
    opacity: 0.5;
}
.todolist-title-container {
    display: flex;
    align-items: center;
}

.todolist-wrapper{
    background: linear-gradient(rgba(23, 70, 224, 0.45), rgba(210, 0, 0, 0.75));
    /*rgba(180, 23, 224, 0.45) | rgba(224, 154, 23, 0.45);*/
    padding: 10px;
    border-radius: 15px;
}
/*.todolist-secondary{*/
/*    background-color: rgba(224, 154, 23, 0.45);*/
/*    padding: 10px;*/
/*    border-radius: 15px;*/
/*}*/
.wrapper-editableSpan{
    max-width: 150px;
    width: 100px;
}