.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  text-align: center;
  font-size: 250px;
  margin: 0;
}

.subTitle {
  text-align: center;
  font-size: 50px;
  margin: 0;
  text-transform: uppercase;
}

.button {
  max-width: 200px;
}
.img {
  background-image: url("common/utils/img/img_Page404.webp");

  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  max-width: 100%;
  max-height: 650px;
  border: none;
}
